:root {
  --black-color: #000; 
  --orange-color: orange; 
  --blue-color: #192a56;
  --button-color: #F77F00; 
  --white-color: #fff;
  --scrollbar-thumb: #f1a145;
  --scrollbar-thumb-hover: #d67a10;
  --scrollbar-track: rgb(216, 216, 216); 
  --skill-title: #c23616; 
  --footer-name: #1D7564;
}
/* !Globally */ 
* {
    box-sizing: border-box;
} 

body {
    padding: 0; 
    margin: 0; 
    background-color: #ecf0f1;
    font-family: 'Poppins', sans-serif;  
}  

/* !header section start */ 

.header {
    font-size: 15px;
    display: flex;
}

.header h1 {
    width: 300px; 
    padding: 20px 30px 0 0 ;
    color: var(--black-color);
    font-size: 30px;
    font-family: 'Courgette', cursive; 
    font-weight: bold;
}

.header span {
    color: var(--orange-color); 
}


.header .links {
    list-style: none;  
    text-align: right;
    width: 100%; 
    padding: 20px 150px;
}

.header .links li {
    display: inline-block;
    margin-left: 40px;
}

.header .links li a {
    text-decoration: none; 
    color: var(--black-color); 
    font-weight: bold; 
    font-size: 18px;
}

.header .links li a:hover {
    color: var(--orange-color);
    text-decoration: underline;
} 
/* !header section end  */ 


/* !Intro section start  */ 
.intro {
    display: grid; 
    grid-template-columns: 50% 50%; 
} 

.introduction-text {
    padding: 50px 40px 0 0 ; 
    margin-top: 30px;

} 

.introduction-text h1 {
    font-size: 60px; 
} 

.introduction-text h2 {
    font-size: 30px; 
    font-family: 'Open Sans', sans-serif;
}  
.introduction-text span {
    color: var(--orange-color); 
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

.introduction-text p {
    font-size: 18px; 
    font-weight: bold; 
    width: 410px; 
    text-align: left;
}

.intro img{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 15%; 
    width: 500px; 
    margin-left: 30px; 
    border: 2px solid var(--white-color);
}
/* !intro section end  */ 


/* !Skills section start  */ 
#skills h1 {
    text-align: center; 
    margin: 20px; 
    font-size: 40px; 
    color: var(--black-color);
} 

.skill{
margin: 50px 0;
 display: grid;  
 grid-template-columns: 50% 50%; 
 grid-template-rows: 50%;
}
.skill .img1 {
    justify-self: center; 
    
 }
   
.skill img {
    width: 180px;
} 

.skills {
  width: 40%; 
  margin: 0 auto;
} 

.skill .description {
    width: 500px;
}
.skill .description h2 {
    color: var(--skill-title);
    font-weight: bold; 
    font-size: 30px;
}

.skill .description p {
   font-size: 18px; 
   font-weight: lighter;
}
/* !Skills section end  */ 


/* !Projects section start  */ 

.social-media-links img {
    width: 50px;
    padding-left: 10px;
} 

.title_project {
    text-align: center;
    margin-top: 80px;
}

.title_project h1{
    font-size: 40px;
    color: var(--blue-color); 
}

.title_project p{
    font-size: 18px;
    font-weight: bold;
}

.project {
    display: grid; 
    grid-template-columns: 50% 50%; 
    padding: 80px;
} 

.project-description1 {
    width: 430px;
}


.project-link1 img{
    width: 569px;
    height: 378px;
    border-radius: 10px; 
    cursor: pointer;
} 


.button {
  border-radius: 8px;
  background-color: var(--button-color);
  border: none;
  color: var(--white-color);
  text-align: center;
  font-size: 28px;
  padding: 15px;
  width: 130px; 
  height: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
} 
/* !Projects section end  */ 



/* !Tools section start  */ 

.tools {
    width: 100%; 
    height: 70vh;
}

.tools h1 {
    text-align: center; 
    font-size: 40px; 
    color: var(--black-color);
    font-weight: bold;
} 

.img-tools img{
    width: 100px; 
    height: 100px;
    margin-left: 60px;
} 

.img-tools {
    display: flex; 
    justify-content: center; 
    padding-top: 30px;
} 

/* !Tools section start */ 

.contact_me {
    text-decoration: underline; 
    line-height: 1.6;
} 

/* !Scrollbar setting start  */ 
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollbar-track);
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover); 
  }
/* !Scrollbar setting end */ 


/* !Footer Section end */ 
.footer {
    background-color: #FCB844; 
    margin: 30px 0 0 0 ;
    padding: 20px 0 30px ;
    font-size: 18px;
    display: flex; 
    justify-content: center; 
    align-content: center;
} 

.footer span {
    color: var(--black-color);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.footer span:hover{
    cursor: pointer; 
    font-size: 25px;
    font-weight: bold;
    color: var(--footer-name);
    transition: 0.2s ease-out; 
} 

/* !Footer Section end */ 
